*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
.container{
    width: 33.3%;
    height: 730px;
    background-color: rgb(149, 29, 41);
    padding: 10px;
    border: solid 5px rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    text-align: center;

}
.contenedor2{
    width: 33.33%;
    height: 730px;
    background-color: rgb(149, 29, 41);
    padding: 10px;
    border: solid 5px rgb(255, 255, 255);
    float: left;
}
.contenedor3{
    width: 33.33%;
    height: 730px;
    background-color: rgb(149, 29, 41);
    padding: 10px;
    border: solid 5px rgb(255, 255, 255);
    float: left;
}

#fp{
    height: 200px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 80%;
}

.linea{
    background-color: black;
    height: 5px;

}
.info{
    height: 67%;
    margin: 2px;
    padding: 10px;
    box-sizing: content-box;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-size: 13px;
}
a:visited{
    color:rgb(154, 199, 8);
    background-color: transparent;
    text-decoration: none;
    border-radius: 500px
}
